
<HTML>
    <head>
        <title>Somniac</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style_landing.css') }}">
    </head>
    <body>
        <div class = "banner">
            <div class = "navbar">
                <img src="{{url_for('static', filename='logo.jpeg')}}" class="logo"/>
                <ul>
                    <li><a href = "{{url_for('home_page')}}">Home</li>
                    <li><a href = "{{url_for('display_profile')}}">Profile</li>
                    <li><a href = "{{url_for('display_sleep_stats')}}">Sleep Statistics</li>
                    <li><a href = "{{url_for('display_recommendations')}}">Recommendations</li>
                    <li><a href = "{{url_for('display_nap')}}">Take a Nap</li>
                </ul>
            </div>
            <div class = "content">
                <h1>SOMNIAC</h1>
                <p>Helping you get the sleep you deserve</p>

                <img src="{{url_for('static', filename='sleep_pic1.jpg')}}" id="sleep_pic1" />
                <img src="{{url_for('static', filename='sleep_pic2.jpg')}}" id="sleep_pic2" />
            </div>
        </div>
    </body>
</HTML>